*{
    padding: 0;
    margin:0;
    box-sizing: border-box;

}

:root{
    font-size: 62.5%;

    --tt-heading: #0c3445;

    --tt-label: #00453a;
    --tt-input : #212529;
    --ot-input: #09793d;
    --bd-input: rgba(73,80,87, 0.3);
    --tt-placeholder: rgba(73,80,87, 0.5);
    --bg-input: #dce2e9;

    --tt-button: white;
    --bg-button: #09793d;

    --bg--error: #f03e3e;
    --tt-error: white; 
}
body{
    background:linear-gradient(332deg, rgba(2,0,36,1) 0%, rgba(9,121,61,1) 20%, rgba(0,220,255,1) 83%);
    font-size: 1.6rem;
}
.container{
    height: 100vh;
    display: grid;
    place-content:center;
    padding: 1.6rem;
}

.card{
    padding: 4.8rem ;
    background: white;
    max-width: 42.8rem;
    margin-inline: auto;
    box-shadow: 0 .2rem .4rem rgba(0,0, 0, 0.1);
    border-radius: .6rem;


}

.tittle{
    font-size: 3.2rem;
    line-height: 4rem;
    color: var(--tt-heading)

}

form h1{
    margin-bottom: 3.2rem;
}

form label{
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--tt-label);
    margin-bottom: .8rem;
    display: block;
}

form input{
    width: 100%;
    border: 1px solid var(--bd--input);
    background: var(--bg-input);
    padding: 1.6rem;
    border-radius: .4rem;
}

form input:focus{
    outline: 2px solid var(--ot-input);

}

form input::placeholder{
    color: var(--tt-placeholder)

}

.input-wrapper + .input-wrapper{
 margin-top: 1.6rem;
}

button{
    margin-top: 3.2rem;
    padding: 1.6rem;
    width: 100%;
    border: none;
    background-color: var(--bg-button);
    color:var(--tt-button);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    font-weight: bold;
    line-height: 2rem;
    cursor: pointer;

}

/* fazendo a caixa de segundo plano */

.modal-wrapper.open{
    opacity: 1;
    visibility: visible;
}
.modal-wrapper{
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: grid;
    place-content: center;

    opacity: 0;
    visibility: hidden;

}

/* fazendo a caixa de erro com transition */

.alert-error.open{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.alert-error{
    position: absolute;
    background-color: red;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: .8rem 0;
    font-weight: bold;
    color: var(--tt-error);
    
    opacity: 0;
    visibility: hidden;
    transform: translateY(-30px);
    transition: transform .5s;
}